In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx
import igraph as ig
import leidenalg
import leidenalg as la

In [2]:
train_df = pd.read_csv('2023-ntust-practice-of-social-media-analytics-hw2/train.csv')
print(train_df.head(5))

    Node1   Node2
0  774578  681207
1  819314  715063
2  772387  715740
3   37717   37716
4   19150  731191

In [3]:
graph_train = ig.Graph.DataFrame(train_df)

In [4]:
graph_train

In [5]:
part = leidenalg.find_partition(graph_train, leidenalg.ModularityVertexPartition)
part

In [6]:
len(part)

583149

In [7]:
test_df = pd.read_csv('2023-ntust-practice-of-social-media-analytics-hw2/test.csv')
test_df

      Id   Node1   Node2
0      0  740132   60654
1      1  754586  858562
2      2  814985  828532
3      3   56589  764977
4      4   40719  637568
..   ...     ...     ...
995  995  884684  870863
996  996  856518  868450
997  997  653654  762732
998  998  676859  829537
999  999  753811  878163

[1000 rows x 3 columns]

In [8]:
partitions = la.find_partition(graph_train, la.ModularityVertexPartition)
#partitions[0]

In [9]:
len(partitions)

583160

In [40]:
def find_cluster(node_id):
    for i in range(0, 583169):
        if node_id in partitions[i]:
            #print(partitions[i])
            return i
        

# node_cluster = find_cluster(829537)
# node_cluster

In [41]:
#test_df["node1_cluster"] = test_df.apply(lambda x:find_cluster(test_df['Node1']), axis = 1)
test_df["node1_cluster"] = test_df.apply(lambda x: find_cluster(x['Node1']), axis = 1)
#test_df

In [42]:
test_df["node2_cluster"] = test_df.apply(lambda x: find_cluster(x['Node2']), axis = 1)

In [43]:
test_df

      Id   Node1   Node2  node1_cluster  node2_cluster
0      0  740132   60654             44             18
1      1  754586  858562             15              9
2      2  814985  828532             65             22
3      3   56589  764977              0              6
4      4   40719  637568             22             64
..   ...     ...     ...            ...            ...
995  995  884684  870863             23             12
996  996  856518  868450              1             18
997  997  653654  762732             99             32
998  998  676859  829537              6              6
999  999  753811  878163             65             65

[1000 rows x 5 columns]

In [52]:
def cluster_same(node_id1, node_id2):
    if node_id1 == node_id2:
        return 1
    else:
        return 0

In [53]:
test_df['Category'] = test_df.apply(lambda x: cluster_same(x['node1_cluster'],x['node2_cluster']), axis=1)

In [54]:
test_df

      Id   Node1   Node2  node1_cluster  node2_cluster  Category
0      0  740132   60654             44             18         0
1      1  754586  858562             15              9         0
2      2  814985  828532             65             22         0
3      3   56589  764977              0              6         0
4      4   40719  637568             22             64         0
..   ...     ...     ...            ...            ...       ...
995  995  884684  870863             23             12         0
996  996  856518  868450              1             18         0
997  997  653654  762732             99             32         0
998  998  676859  829537              6              6         1
999  999  753811  878163             65             65         1

[1000 rows x 6 columns]

In [55]:
category = test_df['Category'].tolist()

In [59]:
submission_df = pd.read_csv('2023-ntust-practice-of-social-media-analytics-hw2/sampleSubmission.csv')
submission_df

      Id  Category
0      0         0
1      1         0
2      2         0
3      3         0
4      4         0
..   ...       ...
995  995         0
996  996         0
997  997         0
998  998         0
999  999         0

[1000 rows x 2 columns]

In [61]:
submission_ans = pd.DataFrame({ 'Id': submission_df.Id.values, 'Category': category })
submission_ans.to_csv("submission_ModularityVertexPartition.csv", index=False)